{% include "header.njk" %}

  <div class="sample-container">
    {{ content | safe }}
  </div>

  <script src="/on-device-demos/static/session.js"></script>
  <script src="/on-device-demos/static/spinner.js"></script>

{% include "footer.njk" %}