.sample-container {
  max-width: 800px;
  margin: 0 auto;
}

.news-site-header {
  display: flex;
  margin-block-end: calc(var(--padding) * 2);
  gap: var(--gap);
  align-items: center;
}

.news-site-header::before {
  content: "";
  width: 100vw;
  height: 80px;
  background: #f6e8e3;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}

@media (max-width: 800px) {
  .news-site-header::before {
    height: 120px;
  }
}

.news-site-header h1 {
  margin: 0;
  margin-inline-end: auto;
}

.news-site-header .links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: var(--gap);
}

.links li {
  cursor: pointer;
  position: relative;
}

.links .active {
  font-weight: bold;
}

.links li.active::after,
.links li:hover::after {
  content: "";
  position: absolute;
  bottom: -8px;
  height: 3px;
  width: 50%;
  left: 25%;
  border-radius: 100vw;
  background: #3e5c95;
}

.post-editor .metadata {
  margin: var(--padding) 0;
  display: grid;
  grid-template-areas: "headline image" "subheadline image";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  gap: calc(var(--gap) / 2) var(--gap);
}

.post-editor .metadata textarea {
  height: 80px;
}

.post-editor .metadata .headline {
  grid-area: headline;
}

.post-editor .metadata .subheadline {
  grid-area: subheadline;
}

.post-editor .metadata .image {
  grid-area: image;
  margin-block-start: 24px;
}

.post-editor .metadata .image img {
  width: 100%;
  height: auto;
  border-radius: var(--inner-radius);
  overflow: hidden;
}

.post-editor .content {
  margin: var(--padding) 0;
}

.post-editor .content .toolbar {
  height: 28px;
  background: url(images/toolbar.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left 0;
}

.post-editor .content textarea {
  height: 500px;
}

.post-editor .buttons {
  margin: var(--padding) 0;
  justify-items: end;
}